<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta charset="UTF-8">
    <title>网易云用户数据统计</title>

    <link rel="stylesheet" href="../static/staticCSS/bootstrap.min.css">
    <link rel="stylesheet" href="../static/staticCSS/toastr.min.css">
    <link rel="stylesheet" href="../static/staticCSS/font-awesome.min.css">


    <script type="application/javascript" src="../static/staticJS/jquery.min.js"></script>
    <script type="application/javascript" src="../static/staticJS/bootstrap.min.js"></script>
    <script type="application/javascript" src="../static/staticJS/vue.min.js"></script>
    <script type="application/javascript" src="../static/staticJS/vue-resource.js"></script>
    <script type="application/javascript" src="../static/staticJS/toastr.min.js"></script>
    <script type="application/javascript" src="../static/staticJS/echarts.min.js"></script>

    <script type="application/javascript" src="../static/js/person.js"></script>

</head>
<body>
<div id="personVue">
    <div style="width: 80%;margin-left: 10%;margin-top: 20px;">
        <div class="row">
            <div class="col-xs-6">
                <div>
                    各时段评论人数分布
                </div>
                <div id="timeRangeGraph" class="cpp-ECharts-graph "></div>
            </div>
            <div class="col-xs-6">
                <div>
                    用户等级分布
                </div>
                <div id="levelDistribution" class="cpp-ECharts-graph"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div>
                    用户年龄分布
                </div>
                <div id="ageDistribution" class="cpp-ECharts-graph "></div>
            </div>
            <div class="col-xs-6">
                <div>
                    用户性别分布
                </div>
                <div id="genderDistribution" class="cpp-ECharts-graph"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    用户地区分布
                </div>
                <div id="regionDistribution" class="cpp-ECharts-graph"></div>
            </div>
        </div>


    </div>
</div>

</body>
</html>